/* Don't judge me I'm indecisive when it comes to fonts */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&family=Grenze+Gotisch:wght@100..900&family=Homemade+Apple&family=Lovers+Quarrel&family=Metal+Mania&family=Nosifer&family=Shadows+Into+Light&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-white);

  /* Variables */
  --font-family-title: "Metal Mania", system-ui;
  --font-family-body: "Homemade Apple", cursive; /* NOTE: pretty font but hard to read :| */
  --font-family-alt: "Amatic SC", sans-serif;
  --color-white: rgba(212, 200, 200, 0.87);
  /* font-family: "Homemade Apple", cursive; */
  /* font-family: "Amatic SC", sans-serif; */
  /* font-family: "Grenze Gotisch", serif; */
  /* font-family: "Nosifer", sans-serif; */
  /* font-family: "Shadows Into Light", cursive; */
  /* font-family: "Lovers Quarrel", cursive; */
  /* font-family: "Barrio", system-ui; */
}

.home-container {
  z-index: 100000;
}

h1 {
  font-family: var(--font-family-title);
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 1.1;
}

.content-container {
  font-family: var(--font-family-alt);
  /* font-family: var(--font-family-body); */
  font-size: 1.25rem;
}

.input-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* Rain and Lightning */

* {
  margin: 0;
  padding: 0;
}

:root {
  --thunder-duration: 10s;
  --thunder-delay: 5s;
}

body {
  /* background-image: linear-gradient(to bottom, #030420, #000000 70%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1;
}

input {
  border-radius: 20px;
  padding-left: 0.75rem;
  font-family: var(--font-family-alt);
  font-size: 1.25rem;
  width: 80%;
}

button {
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 0.75rem 1.5rem;
  background-color: #1a1a1a;
}

button:hover {
  border-color: rgba(229, 8, 8, 0.762);
  color: rgba(229, 8, 8, 0.762);
  transform: scale(1.15);
  font-weight: bold;
  /* background-color: ; */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

hr.thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: thunder;
  animation-duration: var(--thunder-duration);
  animation-timing-function: linear;
  animation-delay: var(--thunder-delay);
  animation-iteration-count: infinite;
  z-index: -1;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  /* border-right-color: rgba(255, 255, 255, 0.7); */
  border-right-color: rgba(229, 8, 8, 0.762);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes rain {
  from {
    transform: rotate(97deg) translateX(0);
  }
  to {
    transform: rotate(97deg) translateX(calc(100vh + 20px));
  }
}

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  5% {
    background-color: white;
  }
  6% {
    background-color: rgba(255, 255, 255, 0.8);
  }

  8% {
    background-color: transparent;
  }
}

/* Mobile Responsiveness */
@media screen and (width <= 500px) {
  h1 {
    font-size: 3rem;
  }
}
