/* Don't judge me I'm indecisive when it comes to fonts */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&family=Grenze+Gotisch:wght@100..900&family=Homemade+Apple&family=Lovers+Quarrel&family=Metal+Mania&family=Nosifer&family=Shadows+Into+Light&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Metal Mania", system-ui;
  /* font-family: "Grenze Gotisch", serif; */
  /* font-family: "Nosifer", sans-serif; */
  /* font-family: "Amatic SC", sans-serif; */
  /* font-family: "Shadows Into Light", cursive; */
  /* font-family: "Homemade Apple", cursive; */
  /* font-family: "Lovers Quarrel", cursive; */
  /* font-family: "Barrio", system-ui; */
}

.home-container {
  z-index: 100000;
}

.input-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* Rain and Lightning */

* {
  margin: 0;
  padding: 0;
}

:root {
  --thunder-duration: 10s;
  --thunder-delay: 5s;
}

body {
  /* background-image: linear-gradient(to bottom, #030420, #000000 70%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

hr.thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: thunder;
  animation-duration: var(--thunder-duration);
  animation-timing-function: linear;
  animation-delay: var(--thunder-delay);
  animation-iteration-count: infinite;
  z-index: -1;
}

hr:not(.thunder) {
  width: 50px;
  border-color: transparent;
  /* border-right-color: rgba(255, 255, 255, 0.7); */
  border-right-color: rgba(229, 8, 8, 0.762);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes rain {
  from {
    transform: rotate(97deg) translateX(0);
  }
  to {
    transform: rotate(97deg) translateX(calc(100vh + 20px));
  }
}

/* Original */
/* @keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
} */

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  5% {
    background-color: white;
  }
  6% {
    background-color: rgba(255, 255, 255, 0.8);
  }

  8% {
    background-color: transparent;
  }
}
